/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');

:root {
    /* Colours */
    --action-colour: #ef4d5a;
    --action-colour-darker: #530209;

    --main-bg-colour: #313131;
    --secondary-bg-colour: #2a2a2a;
    --tertiary-colour: #3d3d3d;
    --quaternary-colour: #4b4b4b;

    --text-colour-main: #e0e0e0;
}

body {
    background-color: var(--main-bg-colour);
    color: var(--text-colour-main);
    font-family: 'Montserrat';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > header img {
    width: 100px;
    cursor: pointer;
}

main > header {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    justify-content: space-between;
    width: 70%;
}

form {
    margin-top: 35px;
    width: 40%;
}

fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.input {
    width: 90%;
}

.input:not(:first-of-type) {
    margin-top: 3.5%;
}

legend {
    margin:0 auto;
    padding: 0 30px;
}

.input button {
    width: 100%;
    padding: 20px 0;

    border: none;
    -webkit-appearance: none;

    background-color: var(--secondary-bg-colour);
    color: var(--text-colour-main);

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input[type="text"], input[type="password"], input[type="number"] {
    background-color: var(--tertiary-colour);
    color: var(--text-colour-main);
    border-radius: 3px;
    height: 40px;
    padding: 0 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    display: inline-block;
    border: none;
    flex-grow: 1;
}

input[type="text"], input[type="password"] {
    outline: none;
}

#dashboard {
    margin-top: 30px;
    width: 65%;
    margin-left: 30px;
}

main h5 {
    font-weight: normal;
    font-size: 16px;
    margin-block: 10px;
}

.error {
    color: red;
    margin-bottom: 30px;
}

.item {
    width: 35%;
    margin: 1.5%;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--text-colour-main);
}

.item.stat {
    background-color: var(--quaternary-colour);
    border: 1px solid black;
    padding: 20px 0;
}

.item.action {
    background-color: var(--tertiary-colour);
    border: 1px solid var(--action-colour);

    cursor: pointer;
}

.item.action:hover {
    background-color: var(--quaternary-colour);
}

.item h1 {
    font-size: 22.5px;
    font-weight: medium;

    margin-block: 0;
}

.item p {
    margin-block: 0;
    margin-bottom: 5px;
}

.itemRow {
    width: 100%;
    display: flex;
}

#hotshotManagerNav {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin-top: 45px;

    overflow-x: scroll;
}

td > img {
    height: 250px;
}

td, th {
    border: 2px solid var(--quaternary-colour);
    padding: 8px;
}

tr:nth-child(even){background-color: var(--secondary-bg-colour);}
tr:hover {background-color: var(--tertiary-colour);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--quaternary-colour);
    color: white;
}

td:nth-child(6) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
}

td:nth-child(6) form {
    width: 100%;
    margin-block: 0;
}

td:nth-child(6) button {
    padding: 20px;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    #loginForm {
        display: block;
        padding: 20px;
    }

    form {
        width: 70%;
    }

    .itemRow {
        flex-direction: column;
    }

    .item {
        width: 86.5vw;
        margin: 5px 0;
    }


    th:first-child {
        display: none;
    }

    td:first-child {
        display: none;
    }

    th:nth-child(4) {
        display: none;
    }

    td:nth-child(4) {
        display: none;
    }

    form > h5 {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    table {
        margin-top: 10px;
    }
}