<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs'); -%>
</head>
<body>
    <main id="loginForm">
        <%- include('../../partials/header.ejs'); -%>
        <form action="/admin/login" method="POST">
            <fieldset>
                <% if(locals.error) { %>
                    <p class="error"><%= error.msg %></p>
                <% } %>
                <legend>Authentication</legend>
                <div class="input">
                    <label for="username">Username</label>
                    <br/>
                    <input type="text" name="username">
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <br/>
                    <input type="password" name="password">
                </div>
                <div class="input">
                    <button>
                        Login
                    </button>
                </div>
            </fieldset>
        </form>
    </main>
</body>
</html>